<!--banner-->
{{> banner titleBanner="Recipe details page"}}
<!--advance search form-->
{{> advancedSearch}}
<!--advance search form ends-->
<!--banner ends-->

<div class='recipes-home-body inner-page'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-8 col-lg-9'>
                <div class='recipe-set'>
                    <div class='wrapper-detail-contents detail-2'>
                        {{#with recipe}}
                        <div class='single-recipe-detail'>
                            <div class='wrapper-recipe-heading'>
                                <div class='heading'>
                                    <h2>{{title}}</h2>

                                </div>
                                <div class='recipe-media'>
                                    <a class='print-button' href='#'><i class='fa fa-print'></i>
                                        Print Recipe</a>
                                </div>
                            </div>

                            <div class='slider-recipe-detail2'>
                                <div id='recipeId' style="display: none;">{{_id}}</div>
                                <div class='wrapper-slider-detail'>
                                    <div class='recipe-slider'>
                                        <div class='slider-detail2'>
                                            {{! Can loop here if we have more images }}
                                            {{#each imageUrl}}
                                            <div>
                                                <a href='#' class='swipebox' rel='recipe-gallery'><img
                                                        src='{{this}}' alt='slide' /></a>
                                            </div>
                                            {{/each}}
                                        </div>
                                        <span class='custom-arrows wider'>
                                            <span class='left-arrow slick-arrow' data-direction='prev'
                                                style='display: table-cell;'><i class='fa fa-arrow-left'></i></span>
                                            <span class='right-arrow slick-arrow' data-direction='next'
                                                style='display: table-cell;'><i class='fa fa-arrow-right'></i></span>
                                        </span>
                                    </div>

                                    <ul class='recipe-specs-2'>
                                        {{!-- <li><span>Yield :
                                            </span>5 Grills</li> --}}
                                        <li><span>Servings: </span>{{servings}}</li>
                                        <li><span>Cooking Time: </span>{{timeCook}}</li>
										<li><span>Meal Type: </span>{{mealType}}</li>
										<li><span>Skill Level: </span>{{levelSkill}}</li>
                                        {{!-- <li><span>Cook Time :
                                            </span>40m</li>
                                        <li><span>Ready In :
                                            </span>1:40h</li> --}}
                                    </ul>
                                </div>
                                <a href='https://vimeo.com/15306847' class='swipebox slider-video-button'>Watch
                                    Video</a>
                            </div>
                        </div>

                        <div class='recipe-detail-body'>
                            {{> ratingBox rating=ratingOverall}}
                            <ul class='pre-tags'>
                                {{!-- <li><span>Cuisine :
                                    </span>Chinese</li> --}}
                                {{!-- <li><span>Course :
                                    </span>Side Dish</li> --}}
                                <li><span>Chef: </span>{{publisher.username}}</li>
                                <li><span>Date Publish: </span>{{datePublish}}</li>
                            </ul>
                            <div class='separator-post'></div>
                            {{!-- <p>
                                Rinse the chicken pieces in cold water and
                                pat dry. Place the chicken in a large,
                                resealable zip-top bag and pour in the
                                marinade. Toss the chicken inside the bag to
                                cover evenly with the marinade and
                                refrigerate for 12 hours or as long as
                                overnight icken pieces in cold water and pat
                                dry.
                            </p> --}}
                            <br />
                            <div class='ingredients-checkbox'>
                                <div class='ingredients'>
                                    <h3>Ingredients</h3>
                                    <ul>
                                        {{#each ingredients}}
                                        <li>
                                            <label>
                                                <input type='checkbox' />
                                                {{text}}
                                            </label>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                {{!-- <div class='nutritional'>
                                    <h3>Nutritional</h3>
                                    <div class='nutrition-detail'>
                                        <div class='left-box'>
                                            Protein
                                            <br />
                                            <span>6.60g</span>
                                        </div>
                                        <div class='right-box'>
                                            Fat Saturated
                                            <br />
                                            <span>39.5g</span>
                                        </div>
                                    </div>
                                    <div class='separator-post'></div>
                                    <div class='nutrition-detail'>
                                        <div class='left-box'>
                                            Deitary Fiber
                                            <br />
                                            <span>50g</span>
                                        </div>
                                        <div class='right-box'>
                                            Sodium
                                            <br />
                                            <span>10g</span>
                                        </div>
                                    </div>
                                    <div class='separator-post'></div>
                                    <div class='nutrition-detail'>
                                        <div class='left-box'>
                                            Fat Total
                                            <br />
                                            <span>60g</span>
                                        </div>
                                        <div class='right-box'>
                                            Carbohydrate
                                            <br />
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <div class='separator-post'></div>
                                    <div class='nutrition-detail'>
                                        <div class='left-box'>
                                            Energy
                                            <br />
                                            <span>900mg</span>
                                        </div>
                                        <div class='right-box'>
                                            Cholesterol
                                            <br />
                                            <span>80g</span>
                                        </div>
                                    </div>

                                </div> --}}
                            </div>

                            <div class='recipe-steps'>
                                <h3 class='lined'>Step by Step method</h3>
                                <dl class='accordion clearfix'>
                                    {{#each instructions}}
                                    <dt class='{{eq @index 0 "current" ""}}'><span class='arrow'><i class='fa fa-minus'></i><i class='fa fa-minus stand'></i></span><strong>Step {{incAmount @index 1}}:</strong>
                                        {{! Step Overview description }}
                                        {{! Rinse the chicken
                                        pieces in cold water and pat
                                        dry. }}
                                    </dt>
                                    <dd>
                                        <div class='row'>
                                            <p>
                                                {{text}}
                                            </p>
                                            {{! Step image
                                            description. Uncomment if we
                                            have a specific step
                                            description image }}
                                            {{!-- <div class='col-sm-7'>
                                                <p>
                                                    {{text}}
                                                </p>
                                            </div>
                                            <div class='col-sm-5'>
                                                <img src='/images/temp-images/steps-tab1.jpg' alt='image' />
                                            </div> --}}
                                        </div>
                                    </dd>
                                    {{/each}}
                                </dl>

                            </div>

                            {{!-- <div class='tips-variations'>
                                <h3>Tips & variations</h3>
                                <ul>
                                    <li>
                                        <p>
                                            Rinse the chicken pieces in cold
                                            water and pat dry. Place the
                                            chicken in a large, resealable
                                            zip-top bag and pour in the
                                            marinade. Toss the chicken
                                            inside the bag to cover.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Rinse the chicken pieces in cold
                                            water and pat dry. Place the
                                            chicken in a large, resealable
                                            zip-top bag and pour in the
                                            marinade.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Rinse the chicken pieces in cold
                                            water and pat dry. Place the
                                            chicken in a large, resealable
                                            zip-top bag and pour in the
                                            marinade. Toss the chicken
                                            inside the bag to cover.
                                        </p>
                                    </li>
                                </ul>
                            </div> --}}

                            <div class='separator-post'></div>
                            <div class='tags-icons'>
                                <div class='row'>
                                    <div class='col-sm-7'>
                                        <div class='details-tags'>
                                            <ul>
                                                {{#each tags}}
                                                <li><a href='#'>{{text}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class='col-sm-5'>
                                        <div class='details-social-icons'>
                                            <ul>
                                                <li><a href='#'><i class='fa fa-facebook'></i></a></li>
                                                <li><a href='#'><i class='fa fa-twitter'></i></a></li>
                                                {{!-- <li><a href='#'><i class='fa fa-google-plus'></i></a></li> --}}
                                                {{!-- <li><a href='#'><i class='fa fa-pinterest'></i></a></li> --}}
                                                {{!-- <li><a href='#'><i class='fa fa-plus'></i></a></li> --}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='about-chef'>
                            <h3 class='lined'>About Chef</h3>
                            <div class='listing'>
                                <div class='image'>
                                    <div class='image-inner'>
                                        <a href='#'><img src='/images/temp-images/about-chef-detail.jpg'
                                                alt='chef' /></a>
                                    </div>
                                </div>
                                <div class='detail'>
                                    <div class='row'>
                                        <div class='col-sm-8'>
                                            <h4><a href='#'>{{publisher.username}}</a></h4>

                                        </div>
                                        <div class='col-sm-4'>
                                            <ul class='chef-social-links'>
                                                <li><a href='#'><i class='fa fa-facebook'></i></a></li>
                                                <li><a href='#'><i class='fa fa-twitter'></i></a></li>
                                                {{!-- <li><a href='#'><i class='fa fa-google-plus'></i></a></li> --}}
                                            </ul>
                                        </div>
                                    </div>
                                    <p>
                                        Rinse the chicken pieces in cold water
                                        and pat dry. Place the chicken in a
                                        large, resealable zip-top bag and pour
                                        in the marinade. Toss the chicken inside
                                        the bag to cover evenly with the
                                        marinade and refrigerate.
                                    </p>
                                    <a href='#' class='read-more-angle'>Read
                                        More</a>
                                </div>
                            </div>
                        </div>
						{{/with}}

                        <div class='related-recipes'>
                            <h3 class='lined'>Related Recipes</h3>
                            <div class='boxed-recipes text-center'>
                                {{! LOOP 3 times for 3 recipes }}
                                {{!-- {{#each ...}} --}}
                                <!--single recipe-->
                                <div class='recipe-single'>
                                    <div class='recipe-image'>
                                        <a href='#'><img src='/images/temp-images/main-recipe1.jpg' alt='image' /></a>
                                    </div>
                                    <div class='outer-detail'>
                                        <div class='detail'>
                                            <h3><a href='#'>Pasto Pizza with
                                                    fillas Cheese Toppings</a></h3>
                                            <div class='short-separator'></div>
                                            {{> ratingBox rating=rating}}
                                        </div>
                                    </div>
                                </div>
                                <!--single recipe ends-->
                                {{!-- {{/end}} --}}
                            </div>
                        </div>

                        <div class='comment-form'>
                            <h3 class='lined' id="leave-comment">Leave Comment</h3>

                            <form action='/recipes/post-comment' method='post'>
                                {{#if user}}
                                <input type='hidden' name='name' value="{{user.username}}" />
                                {{else}}
                                <div class='row'>
                                    <div class='col-md-6'>
                                        <input type='text' name='name' placeholder='Name' required />
                                    </div>
                                </div>
                                {{/if}}
                                <textarea name='comment' id='comment' cols='30' rows='10'
                                    placeholder='Message' required></textarea>
                                <input type='hidden' name='slug' value="{{recipe.slug}}" />
                                <input type='hidden' name='recipeId' value="{{recipe._id}}" />
                                <button class='submit-comment'>Submit</button>
                            </form>
                        </div>

                        <div class='recipe-comments'>
                            <h3 class='lined'>Comments ({{numComments}})</h3>
                            <ul>
                                {{#each comments}}
                                <li>
                                    <div class='avatar'>
                                        <a href='#leave-comment'><img src='/images/temp-images/recipe-comment1.jpg'
                                                alt='avatar' /></a>
                                    </div>
                                    <div class='comment'>
                                        <h5><a href='#leave-comment'>{{name}}</a></h5>
                                        <span class='time'>({{createAt}} ago)</span>
                                        <p>
                                            {{comment}}
                                        </p>
                                        <a href='#leave-comment' class='reply-button'>Reply</a>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>

							{{> pagination curPage=this.curCommentPage limitPage=this.limitCommentPage pageTurn=this.commentPageTurn numPages=this.numCommentPages url=(concat '/recipes/' this.recipe.slug '?comment-page=')}}

                        </div>

                    </div>
                </div>
            </div>
            <div class='col-md-4 col-lg-3'>
                <aside>
                    <div class='side-bar'>
                        <!--recipes search widget-->
                        {{> widgetCategory}}
                        <!--recipes search widget ends-->

                        <!--popular recipes widget-->
                        {{#if popularList}}
                        {{> widgetPopular typePopular="Popular Recipes" popularList=popularList }}
                        {{else}}
                        {{!-- Fall over content --}}
                        <div class='widget latest-news-widget'>
                            <h2>Popular Recipes</h2>
                            <ul>
                                <li>
                                    <div class='thumb'>
                                        <a href='#'>
                                            <img src='/images/temp-images/widget-thumbnail.jpg' alt='thumbnail' />
                                        </a>
                                    </div>
                                    <div class='detail'>
                                        <a href='#'>Pimento Cheese Potato Skins</a>
                                        <span class='post-date'>Dec 26, 2021</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {{/if}}
                        <!--popular recipes widget ends-->

                        <!--advertisement widget-->
                        {{!-- <div class='widget'>
                            <a href='#'>
                                <img src='/images/temp-images/add-side.jpg' alt='Add' />
                            </a>
                        </div> --}}
                        <!--advertisement widget ends-->

                        <!--latest news widget-->
                        {{#if popularList}}
                        {{> widgetPopular typePopular="Latest News" popularList=popularList }}
                        {{else}}
                        {{!-- Fall over content --}}
                        <div class='widget latest-news-widget'>
                            <h2>Latest News</h2>
                            <ul>
                                <li>
                                    <div class='thumb'>
                                        <a href='#'>
                                            <img src='/images/temp-images/widget-thumbnail.jpg' alt='thumbnail' />
                                        </a>
                                    </div>
                                    <div class='detail'>
                                        <a href='#'>Pimento Cheese Potato Skins</a>
                                        <span class='post-date'>Dec 26, 2021</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {{/if}}
                        <!--latest news widget ends-->

                        <!--get social-->
                        <div class='widget widget-get-social'>
                            <h2>get social</h2>
                            <ul>
                                <li class='facebook'>
                                    <a href='#'>
                                        <i class='fa fa-facebook'></i>
                                        <span class='count'>23.5K</span>
                                        <span class='count-type'>Likes</span>
                                    </a>
                                </li>
                                <li class='twitter'>
                                    <a href='#'>
                                        <i class='fa fa-twitter'></i>
                                        <span class='count'>23.5K</span>
                                        <span class='count-type'>Likes</span>
                                    </a>
                                </li>
                                <li class='google-plus'>
                                    <a href='#'>
                                        <i class='fa fa-google-plus'></i>
                                        <span class='count'>23.5K</span>
                                        <span class='count-type'>Likes</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div id="bookmark">
                            <button type="button" class="btn btn-light" id='bookmark'>{{recipe.bookmark}}</button>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>
<script type='text/javascript'>
    document.getElementById('bookmark').addEventListener('click', function (e) {
        e.preventDefault();

        var bookmark = document.getElementById('bookmark');
        if (bookmark.innerText === 'Add to Bookmark') {
            console.log('add to bookmark');
            bookmark.innerHTML = '<button type="button" class="btn btn-light" id="bookmark">Added to Bookmark</button>';
            const recipeId = document.getElementById('recipeId').innerHTML;
            $.post('/bookmark/add', {
                recipeId
            }, function (data) {
                alert(data.message);
            });
        } else {
            console.log('remove from bookmark');
            bookmark.innerHTML = '<button type="button" class="btn btn-light" id="bookmark">Add to Bookmark</button>';
            const recipeId = document.getElementById('recipeId').innerHTML;
            $.post('/bookmark/remove', {
                recipeId
            }, function (data) {
                alert(data.message);
            });
        }
    });

	const ratingBox = document.querySelector('.rating-box');
	ratingBox.addEventListener('mouseover', function(e) {
		const curStar = e.target.closest('.rating-icons');
		if (!curStar) return;
		const { index } = curStar.dataset;
		const allStars = ratingBox.querySelectorAll('.rating-icons');
		allStars.forEach((star, i) => {
			if (i <= index)
				star.querySelector('path').classList.add('icon-svg');
			else
				star.querySelector('path').classList.remove('icon-svg');
		});
	});
	ratingBox.addEventListener('click', function(e) {
		const curStar = e.target.closest('.rating-icons');
		if (!curStar) return;
		const { index } = curStar.dataset;
		const slugRegex = /(?<=recipes\/).*(?=\/)|(?<=recipes\/).*$/gm
		const [slug] = window.location.pathname.match(slugRegex);
		// Send POST then reload page
		$.post('/recipes/rate', { slug, ratingPoint: +index + 1 }, () => window.location = window.location);
	});
</script>
