<!--banner-->
{{> banner titleBanner="Recipe listing page"}}
<!--advance search form-->
{{> advancedSearch}}
<!--advance search form ends-->
<!--banner ends-->

<div class='recipes-home-body inner-page'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-8 col-lg-9'>
                <div class='recipe-set'>
                    <div class='listing-buttons'>
                        <span class='grid'><i class='fa fa-th-large'></i></span>
                        <span class='list current'><i
                                class='fa fa-bars'
                            ></i></span>
                    </div>
                    <button type="button" class="green-color mid-button default-btn"id="myBookmark">My Bookmark</button>
                    <button type="button" class="green-color mid-button default-btn"id="myRecipe">My Recipe</button>

                    <h2 id='labelRecipe'>Recent Recipes</h2>

                    <div class='recipe-listing listing-list'>
                        {{#each recipes}}
                            <div class='listing'>
                                <div class='image'>
                                    <a href='/recipes/{{slug}}'>
                                        <img src='{{imageUrl}}' alt='image' />
                                    </a>
                                </div>
                                <div class='detail'>
                                    <h4><a
                                            href='/recipes/{{slug}}'
                                        >{{title}}</a></h4>
                                    <p>
                                        {{!-- {{description}} --}}
                                    </p>
                                    <div class='meta-listing'>
                                        <ul class='post-meta'>
                                            <li class='author'><a
                                                    href='#'
                                                >{{publisher}}</a></li>
                                            <li class='calendar'>{{datePublish}}</li>
                                        </ul>
                                        {{> ratingBox rating=this.rating}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}

                        <!--recipe of the day-->
                        <!--<div class="recipe-of-day">
                            <img src="images/temp-images/recipe-of-the-day.jpg" alt="Recipe of the day">
                            <div class="recipe-contents-outer">
                                <div class="recipe-contents text-center">
                                    <div class="recipe-content-inner">
                                        <span class="tag">Recipe of the Day</span>
                                        <h2><a href="#">Pasto Pizza With Fillas Cheese Topping</a></h2>
                                        <div class="short-separator"></div>
                                        <p>
                                            Nam ornare arcu turpis, nec congu
                                            Curabitur quis euismod...
                                        </p>
                                        <a class="read-more" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--recipe of the day ends-->

						{{> pagination curPage=this.curPage limitPage=this.limitPage pageTurn=this.pageTurn numPages=this.numPages url='/recipes?page='}}
                        {{!-- <ul class='page-nav'>
                            <li class='current'><a href='#'>1</a></li>
                            <li><a href='#'>2</a></li>
                            <li><a href='#'>3</a></li>
                        </ul> --}}
                    </div>
                </div>
            </div>
            <div class='col-md-4 col-lg-3'>
                <aside>
                    <div class='side-bar'>
                        <!--recipes search widget-->
                        {{> widgetSearch}}
                        <!--recipes search widget ends-->

                        <!--popular recipes widget-->
                        {{#if popularList}}
                            {{> widgetPopular typePopular="Popular Recipes" popularList=popularList }}
                        {{else}}
                            {{!-- Fall over content --}}
                            <div class='widget latest-news-widget'>
                                <h2>Popular Recipes</h2>
                                <ul>
                                    <li>
                                        <div class='thumb'>
                                            <a href='#'>
                                                <img
                                                    src='images/temp-images/widget-thumbnail.jpg'
                                                    alt='thumbnail'
                                                />
                                            </a>
                                        </div>
                                        <div class='detail'>
                                            <a href='#'>Pimento Cheese Potato Skins</a>
                                            <span class='post-date'>Dec 26, 2021</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {{/if}}
                        <!--popular recipes widget ends-->

                        <!--advertisement widget-->
                        {{!-- <div class='widget'>
                            <a href='#'>
                                <img
                                    src='images/temp-images/add-side.jpg'
                                    alt='Add'
                                />
                            </a>
                        </div> --}}
                        <!--advertisement widget ends-->

                        <!--latest news widget-->
                        {{#if popularList}}
                            {{> widgetPopular typePopular="Latest News" popularList=popularList }}
                        {{else}}
                            {{!-- Fall over content --}}
                            <div class='widget latest-news-widget'>
                                <h2>Latest News</h2>
                                <ul>
                                    <li>
                                        <div class='thumb'>
                                            <a href='#'>
                                                <img
                                                    src='images/temp-images/widget-thumbnail.jpg'
                                                    alt='thumbnail'
                                                />
                                            </a>
                                        </div>
                                        <div class='detail'>
                                            <a href='#'>Pimento Cheese Potato Skins</a>
                                            <span class='post-date'>Dec 26, 2021</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {{/if}}
                        <!--latest news widget ends-->

                        <!--get social-->
                        <div class='widget widget-get-social'>
                            <h2>get social</h2>
                            <ul>
                                <li class='facebook'>
                                    <a href='#'>
                                        <i class='fa fa-facebook'></i>
                                        <span class='count'>23.5K</span>
                                        <span class='count-type'>Likes</span>
                                    </a>
                                </li>
                                <li class='twitter'>
                                    <a href='#'>
                                        <i class='fa fa-twitter'></i>
                                        <span class='count'>23.5K</span>
                                        <span class='count-type'>Likes</span>
                                    </a>
                                </li>
                                <li class='google-plus'>
                                    <a href='#'>
                                        <i class='fa fa-google-plus'></i>
                                        <span class='count'>23.5K</span>
                                        <span class='count-type'>Likes</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">

    document.getElementById('myBookmark').addEventListener('click',function(){
        window.location.href = "/bookmark";
    })
</script>
